/*.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 50px;
    width: auto;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
}/*
.navbar a{
    margin-left: 25px;
    padding-top: 20px;
    color:#D0B214;
    text-decoration: none;
}
body{
    background-color: black;
    font-family: 'Inter';
}

.container1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-left: 50px;
}
.subcont1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 20px;
    color: #D0B214;
    padding-top: 50px;
}
.subcont2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 700px;
}
.photo{
    width: 523px;
    height: 590px;
}
.name{
    color: white;
}
.shape{
    
width: 415px;
height: 349px;
left: 80px;
top: 761px;

background: #D0B214;
height: 349px;
width: 415px;
left: 80px;
top: 761px;
border-radius: 0px;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50px;
}
.text{
width: 741px;
height: 294px;
left: 619px;
top: 869px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.subheading{
margin-top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
color: rgb(146, 143, 143);
}
.cont2text{
width: 700px;
height: 294px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #D0B214;
}
.interval{
    margin-top: 80px;
}
.marginleft{
    margin-left: 110px;
}
.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 110px;
}
.spacebtw{
    margin-top: 40px;
}
.imgtxt{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.image{
width: 89px;
height: 89px;
}
.textpaddleft{
  padding-left: 450px;
}
/*about me
.aboutme{
width: auto;
height: 63px;
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 63px;
color: #D0B214;
}
.abcontainer1{
display: flex;
margin-top: 40px;
justify-content: space-evenly;
margin-left: 50px;
margin-right: 100px;
}
.businesswomen{
width: 400px;
height: 350px;
}
.abtext1{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
}
.footer{
    margin-left: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 15px;
}
.footcontainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.abcontainer2{
   display: flex;
   flex-direction: row;
   margin-top: 30px;
}
.margin{
  margin-left: 110px;
  color: white;
}
.contact{
    width: 631px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
margin-left: 200px;
color: #D0B214;
margin-top: 120px;
}
.ctcontainer1{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    justify-content: space-between;
    margin-bottom: 90px;
}
.ctsubcontainer{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    margin-right: 200px;
}
.marginpic{
  margin-left: 110px;
}
.project{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    margin-right: 110px;
}
a.ex1:hover, a.ex1:active {
  color: red;
}
.footer2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.txt{
  display: flex;
  margin-left:30px;
  color: rgb(146, 143, 143);
  margin-left: 100px;
}
.align{
  margin: 0 auto;;
}
hr{
  background: #D0B214;
  height: 4px;
  border: none;
}
/* Mobile Layout */
/*li{
  list-style: none;
  color: #D0B214;
}
ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  padding-right: 20px;
}*/

body{
  background-color: black;
  color: #FFFFFF;
  font-family: 'Inter';
}
li{
  list-style: none;
  color: #D0B214;
}
ul{
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: flex-end;
  padding-right: 21px; 
}
.font{
  font-size: 12px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.name{
  color: white;
  line-height: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}
.head{
  margin-bottom: 0px;
  text-align: center;
}
.subcon{
  width:100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 20px;
  color: #D0B214;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
}
.subcont2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  width: auto;
  overflow: hidden;
  text-align: center;
}
.photo{
  width: 300px;
  height: fit-content;
  
}
.logo{
  display: none;
}
.pic{
  margin: 0 auto;
}
hr{
  background: #D0B214;
  height: 2px;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
}
h3{
  margin: 0 auto;
}
.align-center{
  text-align: center;
}
.para{
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
.color{
  color:#D0B214;
}
* {box-sizing:border-box}

.container1 {
width: 100%; 
}

.skills {
  font-size: small;
  font-weight: 400;
text-align: right; 
padding-top: 2px; 
padding-bottom: 2px; 
color: white; 
}

.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 50%; background-color: #f44336;} /* Red */
.c{width: 70%; background-color: #04AA6D;}
.py{width: 50%; background-color: #2196F3;}
.java{width: 80%; background-color: #f44336;
margin-bottom: 40px;}

.dropbtn {
background-color: #D0B214;
width: 100%;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropdown {
position: relative;
margin: 0 auto;;
width: 80%;

}

.dropdown-content {
display: none;
position: absolute;
background-color: rgba(47, 42, 42, 0.545);
width: 100%;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color:white ;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
display: block;
position: relative;
}

.dropdown:hover .dropbtn {
background-color:#D0B214;
}
.dropdwn-line{
  background:#D0B214;
  height: 2px;
  margin:10px;
}
.hr{
  position: relative;
}
.imgg{
  width:100%;
  height: fit-content;
  margin: 5px;
  margin-left: 0px;
}
.imagescon{
  display:flex;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: column;/*column*/
  margin: 0 auto;
  justify-content: space-between;
}
.spacebtw{
  margin-top: 40px;
}
.imgtxt{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image{
width: 30px;
height: 30px;
}
.textpaddleft{
padding-left: 450px;
}
.text{
  width:50%;
  margin: 0 auto;
}
.center{
  justify-content: center;
}

/*.footer{
  display: flex;
  margin-left: 50px;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 10px;
}*/
.footer{
  display: inline;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 10px;
}
.footcontainer{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.abcontainer2{
 display: flex;
 flex-direction: row;
 margin-top: 30px;
}
.txt{
  display: flex;
  color: rgb(146, 143, 143);
}
.footer2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.icon{
  color: white; margin:0%; margin-left: 30px; margin-top: 6px; font-size: 22px;
}

@media only screen and (min-width: 1020px) {
  .font{
    font-size: 18px;
  }
  ul{
    gap: 24px;
  }
  .container{
    flex-wrap: nowrap;
    width:90%;
    margin: 0 auto;
    justify-content: space-around;
  }
  hr{
    display: none;
  }
  .name ,.head ,.subcont2{
    text-align:left;
  }
  .name{
    line-height: 29px;
  }
  .subcont2{
    margin-top: 20px;
  }
  .margin-top-cont{
    margin-top: 40px;
  }
  .logo{
    width:350px;
    display: inline;
  }
  .subcon{
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    color: #D0B214;
    padding-top: 50px;
}
.subcont2{
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    width: 700px;
    margin-top:80px ;
}
.photo{
    width: 523px;
    height: 590px;
}
.head{
  margin-top: 80px;
}
.align-center{
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 30px;
  color: rgb(146, 143, 143);
}
.dropdown{
  margin-bottom: 80px;
}
.para{
  font-size: 25px;
  line-height: 30px;
}
.marleft{
  margin-left: 80px;
}
.imagescon {
  flex-direction: row;
  width: 80%;
  margin: 0px auto;
  justify-content: space-between;
}
.imgg{
    width: 32%;
    height: fit-content;
    margin: 5px;
    margin-left: 0px;
}
h4{
  font-size: 25px;
  color: #D0B214;
}
.footer{
  margin-left: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
}
.footcontainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.abcontainer2{
 display: flex;
 flex-direction: row;
 margin-top: 30px;
}
.margin-bottom{
  margin-bottom: 50px;
}
.center{
  text-align: center;
}
.margin{
  margin-left: 580px;
}
.marg{
  margin-left: 140px;
}
.images{
  width:50px;
  height: 50px;
}
.icon{
  margin-left: 40px;
}
.dropdown-content {
  display: block;
  position: relative;
  background-color: rgba(47, 42, 42, 0.545);
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
}